* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header-container {
  padding: 5px 50px;
  gap: 50px;
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: #f1f0f0;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.171);
}
.header-container a {
  text-decoration: none;
  color: #000;
  padding: 10px;
  border-radius: 10px;
}
a.active {
  background-color: #d4d4d49f;
  color: #273fc9;
  transition: all 0.1s ease-in-out;
}
.header-container h4 {
  font-size: 1.5em;
  font-weight: lighter;
}

main {
  padding: 0 50px;
}

.cart-icon {
  position: relative;
}
.cart-icon .badge {
  position: absolute;
  top: 5px;
  right: 0px;
  background-color: #273fc9;
  color: white;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 0.8em;
}
